@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
}

.container {
    width: 400px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
    box-shadow: 11px 14px 1px -1px;
}

.container img {
    border-radius: 10px;
}

.container h3 {
    margin: 20px 0 15px;
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 6px 13px;
    font-weight: 700;
    border-radius: 5px;
}

.container .date {
    margin: 0px 0 20px;
}

.container h2 {
    font-weight: 800;
    margin-bottom: 20px;
    cursor: pointer;
}

.container h2:hover {
    color: hsl(47, 88%, 63%);
}

.container .description {
    color: hsl(0, 0%, 42%);
    line-height: 22px;
}

.container .profile {
    display: flex;    
    align-items: center;
    margin-top: 20px;
}

.container .profile img {
    width: 30px;
    margin-right: 15px;
}

.container .profile span {
    font-weight: 700;
}